* {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html, body {
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

body {
  background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background-attachment: fixed;
  
}

main {
  position: relative;
  height: 100vh;
}

section#telefone {
  background: url(pacote-d013/pacote-d013/imagens/frame-iphone.png) no-repeat;

  height: 627px;
  width: 321px;

  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: telefone .7s .2s backwards;
}

iframe#tela {
  position: relative;
  width: 267px;
  height: 471px;
  top: 80px;
  left: 22px;
}

section#redes-sociais {
  text-align: right;
  animation: fromtop .7s .2s backwards ;  
}

section#redes-sociais img {
  border-radius: 50%;
  width: 50px;
  margin: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.41);
  transition: transform .2s;
}

section#redes-sociais img:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
}

@keyframes fromtop {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}